@font-face {
  font-family: "Helvetica";
  src: url("../../../../public/helvetica-neue-5/HelveticaNeueLight.otf");
}

@font-face {
  font-family: "Bungee";
  src: url("../../../../public/Arbutus_Slab\,Bungee/Bungee/Bungee-Regular.ttf");
}

.footer {
  background-color: rgb(237, 244, 236);
  height: 20rem;
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: lighter;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

.logo img {
  width: 13rem;
  margin-left: 10rem;
}
.aboutFooter {
  width: 50rem;
}

.buttonFooter {
  background-color: black;
  width: 10rem;
  height: 2.5rem;
  border-radius: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 50px;
}

.buttonFooter:hover {
  box-shadow: 0px 0px 8px rgb(150, 150, 150);
}
