@font-face {
    font-family: "Helvtica";
    src: url("../../public/HelveticaNeue.ttc");
}

@font-face {
    font-family: "Bungee";
    src: url("../../public/Arbutus_Slab\,Bungee/Bungee/Bungee-Regular.ttf");
}


.titel{
    color: red;
    font-family: "Bungee";
    margin-left: 100px;
}