@font-face {
  font-family: "Helvetica";
  src: url("../../public/helvetica-neue-5/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: "Bungee";
  src: url("../../public/Arbutus_Slab\,Bungee/Bungee/Bungee-Regular.ttf");
}

.titel1 {
  color: red;
  font-family: "Bungee";
  margin-left: 3.5rem;
}

.sprookjeStories {
  background-color: rgb(237, 244, 236);
  width: 20rem;
  min-height: 25rem;
  height: auto;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  font-family: "Helvetica";
  &:hover {
    box-shadow: 0px 0px 9px rgb(177, 177, 177);
  }
}

.sprookje {
  background-color: rgb(237, 244, 236);
  width: 40rem;
  min-height: 25rem;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  font-family: "Helvetica";
}

.splide__list {
  background-color: red;
}

.imgSprookje {
  width: 20rem;
  overflow: hidden;
  height: 20rem;
  border-radius: 20px;
  justify-content: center;
}

.imgSprookje img {
  width: 20rem;
}

.titel2 {
  color: red;
  font-family: "Bungee";
  margin-left: 7.5rem;
  margin-top: 4rem;
}

.storiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-top: -7rem;
  padding: 7.5rem;
}

.back {
  position: fixed;
  color: red;
  width: 50px;
  height: 50px;
  border: red solid 3px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  font-size: 40px;
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin: 2rem;

  &:hover {
    background-color: red;
    color: white;
  }
}

.buttonFooter {
  background-color: black;
  font-family: "Helvetica";
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 50px;

  &:hover {
    box-shadow: 0px 0px 8px rgb(150, 150, 150);
  }
}

.buttonAbout {
  background-color: black;
  font-family: "Helvetica";
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 50px;
  margin-left: 3.5rem;

  &:hover {
    box-shadow: 0px 0px 8px rgb(150, 150, 150);
  }
}

.tekstAbout {
  font-family: "Helvetica";
  color: grey;
  margin-left: 3.5rem;
  font-weight: lighter;
}

.nameSprookje {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px;
  margin-top: 1rem;
}

.titleSprookje {
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
}

.genreSprookje {
  padding: Opx;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
}

.link a:link {
  font-family: "Helvetica";
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  align-items: flex-end;
}

.images img {
  background-color: red;
  width: 10rem;
}

.pictures {
  width: 10rem;
}

.nameAndTitle {
  background-color: rgb(237, 244, 236);
  font-family: "Helvetica";
  width: 30rem;
  height: 8rem;
  margin-top: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title {
  color: red;
  font-size: 35px;
}

.name {
  color: grey;
  font-size: 18px;
  font-weight: lighter;
  margin-top: -1rem;
}

.containerMakingOf {
  color: red;
  font-family: "Bungee";
  margin-left: 7rem;
}

.story {
  font-family: "Helvetica";
  font-size: 16px;
  display: flex;
  width: 76.8rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}

.pictureLink img {
  box-shadow: 0px 0px 9px rgb(177, 177, 177);
}

.pictureLink {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  gap: 1rem;

  &:hover {
    color: black;
  }
}

.storyTitle {
  color: black;
  font-style: bold;
}

.storyParagraph {
  color: grey;
  font-weight: lighter;
}

.extraInfo {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
  width: 76.8rem;
  justify-content: space-between;
}

.images img {
  overflow: hidden;
  width: 25rem;
  height: 25rem;
  box-shadow: 0px 0px 9px rgb(177, 177, 177);
}

.extraInfoText {
  color: grey;
  font-family: "Helvetica";
}

.slider {
  margin-left: 3.5rem;
}
