@font-face {
  font-family: "Helvetica";
  src: url("/helvetica-neue-5/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: "Bungee";
  src: url("/Arbutus_Slab\,Bungee/Bungee/Bungee-Regular.ttf");
}

.nav {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: lightgrey;
  font-weight: lighter;
  width: 2rem;

  &:hover {
    color: black;
  }
}

.searchOverlay {
  position: absolute;
  top: 5.5rem;
  left: 61rem;
  width: 20%;
  font-weight: lighter;
  padding: 1rem;
  z-index: 1000;
  border: none;
  border-radius: 70px;

  input {
    width: 100%;
    background: lightgrey;
    border: none;
    color: black;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 70px;
  }
}

.links img {
  width: 100px;
  margin-left: 100px;
  margin-top: 50px;
}

.rechts {
  font-family: "Helvetica";
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  padding: 100px;
  margin-right: 45px;
}

.genreDropdown {
  border: none;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  color: grey;

  &:hover {
    color: black;
  }
}

a {
  text-decoration: none;
  color: grey;

  &:active {
    color: black;
  }
}
